header {
  width: 100%;
  position: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  background: #fff;
  z-index: 99999;
}

.sony {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: end;
  padding: 1vh 0;
}

.sony h1 {
  margin-right: 2vh;
  color: #fff;
  font-size: 3vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5vh 2vh;
}

.Logo_Ps {
  width: 2.5vw;
  height: 1.8vw;
}

.menu_links {
  display: flex;
  gap: 2vh;
  align-items: center;
  padding: 1.5vh 2.5vh;
}

.menu_links_content {
  display: flex;
  gap: 1.5vh;
}

.menu_links_content li {
  cursor: pointer;
  font-size: 1.8vh;
}

.menu_links_content li:hover {
  color: rgb(87, 87, 255);
}

.header_login button {
  background: #333;
  border: none;
  color: #ddd;
  font-weight: bold;
  border-radius: 15px;
  padding: .7vh 1.5vh;
  font-size: 2vh;
  cursor: pointer;
}

.playstationMobileLogo {
  display: none;
}


@media(max-width:950px) {
  header {
    padding: 0 0 3vh;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
  }

  .menu_links {
    flex-direction: column;
    text-align: center;
  }

  .menu_links_content {
    flex-direction: column;
    display: none;
  }

  .header_login {
    display: none;
  }

  .Logo_Ps {
    display: none;
  }

  .playstationMobileLogo {
    display: block;
    width: 5vw;
    height: 5vw;
    padding: 0 40vw;
  }

  .mostrar {
    display: flex;
  }
}