footer {
  background: rgb(87, 87, 255);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 8vh 0;
}

.footer_menu {
  display: flex;
  gap: 3vh;
}

.footer_menu ul li {
  color: #ddd;
  font-size: 1.8vh;
  margin: 1vh 0;
}